@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.search h2 {
  text-transform: uppercase;
	font-weight: bold;
  font-size: 32px;
  font-family:  sans-serif;	
}


.event-card {
  margin: 10px 0;
	border-radius: 12px;
	position: relative;
	transition: 0.5s ease;
}

.event-card:hover {
	box-shadow: 0px 5px 20px 5px rgb(0 0 0 / 50%);
  transform: translateY(-2px);
  cursor: pointer;
}
.event-card h4 {
	position: absolute;
	bottom: 0;
	color: #fff;
	width: 100%;
	height: 80px;
	margin: 0;
	border-radius: 0px 0px 10px 10px;
	padding: 15px;	
	font-weight: 600;
	font-size: 20px;
  display: flex;
	align-items: center;
	justify-content: center;
}

.event-card img {
	border-radius: 10px 10px 12px 12px;
	object-fit: cover;
}


.carousel-caption-custom {
  color: #fff;
  padding: 10px;
}

.place-header {
  font-family: 'Bebas Neue', cursive;
}
.place-detail {
  font-family: 'Montserrat', sans-serif;
}