


body {	
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: var(--default);
	background: #f8fafc;
	position: relative;
}

.bg-home:before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 500px;
	z-index: -1;

  /* background: linear-gradient(to bottom, rgb(255 255 255 / 85%), rgb(255 255 255 / 85%)),url('images/bg.png'), */
  background: linear-gradient(to bottom, rgb(255 255 255 / 85%), rgb(255 255 255 / 85%)), url('images/bg.png') no-repeat center center fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}


.addEventForm {
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 3px;
  padding: 2em;
}

.form-group {
  display: flex;
  flex-direction: row;
}

.form-group {
  margin-bottom: 0rem;
}

button {
  padding: 5px 15px;
  margin: 5px;
  min-width: 100px
} 
