body {
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ), url('images/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
}

h3,h4{
  color:#fff;
}

.addEventForm {
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 3px;
  padding: 2em;
}

.form-group {
  display: flex;
  flex-direction: row;
}

.form-group {
  margin-bottom: 0rem;
}

button {
  padding: 5px 15px;
  margin: 5px;
  min-width: 100px
} 
